@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

body.menu-modal-open {
    height: 100vh;
    overflow: hidden;
    margin-right: 15px;
    position: fixed;
    overscroll-behavior: contain;
}

.scroll-down-helper {
    @apply block bg-darker-aluminium rounded overflow-hidden relative;
    width: 6px;
    height: 32px;
}

.scroll-down-helper::after {
    @apply absolute block bg-black dark:bg-white rounded text-center;
    left: calc(50% - 2px);
    content: '';
    width: 4px;
    height: 24px;
    -webkit-animation: scrollDown 2.4s infinite;
    animation: scrollDown 2.4s infinite;
}

@-webkit-keyframes scrollDown {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(200%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(200%);
    }
}